alias lvim="/home/asusg14/.local/bin/lvim"
alias t='todo.sh'
alias a='/home/asusg14/sus.sh'
alias programming='cd /mnt/3A7A5BA67A5B5DA7/Programming'
alias dotfiles='cd /.dotfiles'
alias nvim-lazy="NVIM_APPNAME=LazyVim nvim"
alias nvim-kick="NVIM_APPNAME=kickstart nvim"
alias nvim-chad="NVIM_APPNAME=NvChad nvim"
alias nvim-astro="NVIM_APPNAME=AstroNvim nvim"
alias neovim="NVIM_APPNAME=NvChad nvim"
alias psql-start='docker run --hostname=9ffab545028a --mac-address=02:42:ac:11:00:02 --env=POSTGRES_PASSWORD=postgrespw --env=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/lib/postgresql/15/bin --env=GOSU_VERSION=1.16 --env=LANG=en_US.utf8 --env=PG_MAJOR=15 --env=PG_VERSION=15.3-1.pgdg110+1 --env=PGDATA=/var/lib/postgresql/data --volume=/var/lib/postgresql/data -p 5432 --label='com.docker/featured-image=postgres:latest' --runtime=runc -d postgres:latest'
alias psql='docker exec -it postgres-wwU9 psql -U postgres'
alias pgadmin="docker run -p 5050:80 -e 'PGADMIN_DEFAULT_EMAIL=pgadmin4@pgadmin.org' -e 'PGADMIN_DEFAULT_PASSWORD=admin' -d --name pgadmin4 dpage/pgadmin4"
alias pgadmin-browser='firefox localhost:5050'
