alias lvim="/home/asusg14/.local/bin/lvim"
alias t='todo.sh'
alias pgadmin='firefox http://127.0.0.1/pgadmin4/browser/'
alias ventoygui='/home/asusg14/Ventoy/VentoyGUI.x86_64 > /dev/null 2>/dev/null'
alias ventoy='sudo /home/asusg14/Ventoy/VentoyWeb.sh'
alias a='/home/asusg14/sus.sh'
alias programming='cd /mnt/3A7A5BA67A5B5DA7/Programming'
alias dotfiles='cd /.dotfiles'
alias nvim-lazy="NVIM_APPNAME=LazyVim nvim"
alias nvim-kick="NVIM_APPNAME=kickstart nvim"
alias nvim-chad="NVIM_APPNAME=NvChad nvim"
alias nvim-astro="NVIM_APPNAME=AstroNvim nvim"
alias neovim="NVIM_APPNAME=NvChad nvim"
